.x {
    background-color: #199319;
    color: white;
    font-family: 'Tahoma';
    font-size: 20pt;
    text-decoration: none;
}
.xx {
    background: transparent;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}
.y {
    background: transparent;
    color: white;
    font-family: 'Tahoma';
    font-size: 20pt;
}
.button {
    background-color: #1b0bac;
    color: rgb(7, 219, 25);
    font-family: 'Tahoma';
    font-size: 20pt;
    text-decoration: none;
}