<html>
    <head>
        <title>Atlas - Mushrooms</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/atlascss.css') }}">
    </head>
    <body background="https://www.tapeciarnia.pl/tapety/normalne/268563_las_drzewa_liscie_mech.jpg">
        {% if session['login'] == "admin@test.pl" %}
        <a class="x" href="/mushroomsadd">Add mushroom</a>
        {% endif %}
        <table class="xx">
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Kingdom</th>
                {% for mushroom in mushrooms %}
                <tr>
                    <td><img src="{{mushroom.imgURL}}" height="150" width="150" alt="{{mushroom.name}}"></td>
                    <td>{{mushroom.name}}</td>
                    <td>{{mushroom.kingdom}}</td>
                    <td>
                        <a class="x" href="/mushroom/details/{{mushroom.id}}">Details</a>  
                        {% if session['login'] == "admin@test.pl" %}
                        <a class="x" href="/mushroomsedit/{{mushroom.id}}">Edit</a>
                        <a class="x" href="/mushroomdelete/{{mushroom.id}}">Delete</a>
                        {% endif %}
                    </td>
                    
                </tr>
                {% endfor %}

            </tr>
        </table>
        <button class ="button" onclick="window.history.go(-1); return false;" >Back</button>
    </body>
</html>